Read individual data

- Geographic level: tract
- Attributes: VOTINGAGE (2) $*$ HISPANIC (2) $*$ CENRACE (63)

In [1]:
import pandas as pd
import numpy as np

filename_hist = 'data/franklin_hist.csv'
hist = pd.read_csv(filename_hist)

# block to tract
hist['TRACT'] = hist['GEOID10'].astype(str).str[:11]
col_names = hist.columns.to_numpy()
col_names = np.delete(col_names, [0, -1])
hist = hist.groupby('TRACT').sum()[col_names]
hist = hist.reset_index()
hist

,TRACT,00000000,00000001,00000002,00000003,00000004,00000005,00000006,00000007,00000008,...,07010153,07010154,07010155,07010156,07010157,07010158,07010159,07010160,07010161,07010162
0,39049000110,438,6,0,7,0,4,5,1,0,...,0,0,0,0,0,0,0,0,0,0
1,39049000120,467,4,0,11,0,2,2,0,2,...,0,0,0,0,0,0,0,0,0,0
2,39049000210,430,11,0,6,0,4,4,1,4,...,0,0,0,0,0,0,0,0,0,0
3,39049000220,653,3,1,12,0,6,7,0,6,...,0,0,0,0,0,0,0,0,0,0
4,39049000310,313,205,0,17,0,2,19,0,4,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
279,39049010500,1821,35,1,409,0,2,5,2,22,...,0,0,0,0,0,0,0,0,0,0
280,39049010601,1408,36,0,146,0,3,12,0,15,...,0,0,0,0,0,0,0,0,0,0
281,39049010602,1585,45,3,139,0,4,7,2,9,...,0,0,0,0,0,0,0,0,0,0
282,39049010700,83,11,0,4,0,0,2,0,0,...,0,0,0,0,0,0,0,0,0,0
283,39049980000,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [2]:
# HHGQ (8) $*$ VOTINGAGE (2) $*$ HISPANIC (2) $*$ CENRACE (63) to VOTINGAGE (2) $*$ HISPANIC (2) $*$ RACE (7)
n2, n3, n4 = 2, 2, 63

for y in range(n2):  # voting age
    y = '{number:0{width}d}'.format(width=2, number=y)
    col_names = [col for col in hist.columns if y in col[2:4] and len(col)==8]

    for z in range(n3):  # ethnicity
        z = '{number:0{width}d}'.format(width=2, number=z)
        col_names2 = [col for col in col_names if z in col[4:6]]

        col_two_or_more_races = []
        for x in range(n4):  # race
            if x >= 0 and x <= 5:
                x = '{number:0{width}d}'.format(width=2, number=x)
                col_names3 = [col for col in col_names2 if x in col[6:8]]
                hist[x + y + z] = hist[col_names3].sum(axis=1)
            else:
                x = '{number:0{width}d}'.format(width=2, number=x)
                col_names3 = [col for col in col_names2 if x in col[6:8]]
                col_two_or_more_races.extend(col_names3)
        hist['06' + y + z] = hist[col_two_or_more_races].sum(axis=1)

hist.drop([col for col in hist.columns if len(col)==8], axis=1, inplace=True)
hist

,TRACT,000000,010000,020000,030000,040000,050000,060000,000001,010001,...,040100,050100,060100,000101,010101,020101,030101,040101,050101,060101
0,39049000110,438,6,0,7,0,4,6,29,0,...,0,2,1,17,3,0,0,0,6,0
1,39049000120,467,4,0,11,0,2,6,13,0,...,1,0,3,18,0,0,0,0,4,0
2,39049000210,430,11,0,6,0,4,13,10,0,...,0,2,4,34,0,0,0,0,4,0
3,39049000220,653,3,1,12,0,6,13,20,0,...,0,6,4,16,0,2,0,0,8,1
4,39049000310,313,205,0,17,0,2,25,15,1,...,2,5,8,40,1,1,0,0,36,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
279,39049010500,1821,35,1,409,0,2,33,27,0,...,1,8,8,70,0,1,0,0,19,0
280,39049010601,1408,36,0,146,0,3,32,16,3,...,0,2,4,86,0,0,0,0,13,1
281,39049010602,1585,45,3,139,0,4,19,13,1,...,0,8,11,71,2,2,0,0,25,0
282,39049010700,83,11,0,4,0,0,2,6,1,...,1,2,2,10,0,0,0,0,14,0
283,39049980000,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [3]:
# hist.columns = hist.columns.astype("str")
# hist.to_csv("data/data_all.csv", index=False)

Aggregated data

In [4]:
# HISPANIC (2) $*$ RACE (7)
n3, n4 = 2, 7

hist2 = hist.copy()
for x in range(n3):  # ethnicity
    x = '{number:0{width}d}'.format(width=2, number=x)
    for y in range(n4):  # race
        y = '{number:0{width}d}'.format(width=2, number=y)
        col_names = [col for col in hist2.columns if x in col[4:6] and y in col[0:2]]
        hist2[y + x] = hist2[col_names].sum(axis=1)

hist2.drop([col for col in hist2.columns if len(col)==6], axis=1, inplace=True)
hist2

,TRACT,0000,0100,0200,0300,0400,0500,0600,0001,0101,0201,0301,0401,0501,0601
0,39049000110,3171,37,1,36,0,6,7,46,3,1,0,0,7,1
1,39049000120,2985,44,1,42,1,2,9,31,0,2,0,0,5,0
2,39049000210,2729,52,5,32,0,6,17,44,0,0,0,0,4,0
3,39049000220,3500,32,2,55,0,12,17,36,0,2,0,0,12,6
4,39049000310,2080,737,2,70,2,7,33,55,2,1,0,0,54,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
279,39049010500,6402,108,3,1177,1,10,41,97,0,1,2,0,33,4
280,39049010601,3831,125,3,453,0,5,36,102,3,0,0,0,27,3
281,39049010602,5402,154,6,420,0,12,30,84,3,3,0,0,42,1
282,39049010700,1046,118,4,61,1,2,4,16,1,0,0,0,17,0
283,39049980000,2,0,0,0,0,0,0,0,0,0,0,0,0,0

In [5]:
# RACE (7)
n4 = 7

hist3 = hist.copy()
for y in range(n4):  # race
    y = '{number:0{width}d}'.format(width=2, number=y)
    col_names = [col for col in hist3.columns if y in col[0:2]]
    hist3[y] = hist3[col_names].sum(axis=1)

hist3.drop([col for col in hist3.columns if len(col)==6], axis=1, inplace=True)
hist3

           TRACT    00   01  02    03  04  05  06
0    39049000110  3217   40   2    36   0  13   8
1    39049000120  3016   44   3    42   1   7   9
2    39049000210  2773   52   5    32   0  10  17
3    39049000220  3536   32   4    55   0  24  23
4    39049000310  2135  739   3    70   2  61  37
..           ...   ...  ...  ..   ...  ..  ..  ..
279  39049010500  6499  108   4  1179   1  43  45
280  39049010601  3933  128   3   453   0  32  39
281  39049010602  5486  157   9   420   0  54  31
282  39049010700  1062  119   4    61   1  19   4
283  39049980000     2    0   0     0   0   0   0

[284 rows x 8 columns]

Model inputs

In [6]:
import numpy as np

# define all the input data for the model
I, K = hist.shape[0], hist.shape[1] - 1
nj = 20
r = 3

V = []
for k in range(1, K+1):
    V.append(hist.index[(hist.iloc[:,k] <= r) & (hist.iloc[:,k] > 0)].tolist())

count = 0
for listElem in V:
    count += len(listElem)  
print(count)

A = hist.iloc[:,1:].to_numpy()
print(A.shape, A[0])

W = np.empty([I, I, K])
for i in range(I):
    for j in range(I):
        for k in range(K):
            if A[i, k] == 0 or A[j, k] == 0:
                W[i, j, k] = 50
            else:
                W[i, j, k] = 1 / A[i, k] + 1 / A[j, k]
print(W.shape, W[0])

1497
(284, 28) [ 438    6    0    7    0    4    6   29    0    1    0    0    1    1
 2733   31    1   29    0    2    1   17    3    0    0    0    6    0]
(284, 284, 28) [[4.56621005e-03 3.33333333e-01 5.00000000e+01 ... 5.00000000e+01
  3.33333333e-01 5.00000000e+01]
 [4.42443265e-03 4.16666667e-01 5.00000000e+01 ... 5.00000000e+01
  4.16666667e-01 5.00000000e+01]
 [4.60868642e-03 2.57575758e-01 5.00000000e+01 ... 5.00000000e+01
  4.16666667e-01 5.00000000e+01]
 ...
 [2.91401985e-03 1.88888889e-01 5.00000000e+01 ... 5.00000000e+01
  2.06666667e-01 5.00000000e+01]
 [1.43312978e-02 2.57575758e-01 5.00000000e+01 ... 5.00000000e+01
  2.38095238e-01 5.00000000e+01]
 [5.00000000e+01 5.00000000e+01 5.00000000e+01 ... 5.00000000e+01
  5.00000000e+01 5.00000000e+01]]

Coverage I: all except the origin and other uniques

In [7]:
import numpy as np

## define coverage aijk
T = np.ones((I, I, K))

for i in range(I): 
    for j in range(I):
        for k in range(K):
            if i == j or j in V[k]:
                T[i, j, k] = 0
T

array([[[0., 0., 0., ..., 0., 0., 0.],
        [1., 1., 1., ..., 1., 1., 1.],
        [1., 1., 1., ..., 1., 1., 1.],
        ...,
        [1., 1., 0., ..., 1., 1., 1.],
        [1., 1., 1., ..., 1., 1., 1.],
        [1., 1., 1., ..., 1., 1., 1.]],

       [[1., 1., 1., ..., 1., 1., 1.],
        [0., 0., 0., ..., 0., 0., 0.],
        [1., 1., 1., ..., 1., 1., 1.],
        ...,
        [1., 1., 0., ..., 1., 1., 1.],
        [1., 1., 1., ..., 1., 1., 1.],
        [1., 1., 1., ..., 1., 1., 1.]],

       [[1., 1., 1., ..., 1., 1., 1.],
        [1., 1., 1., ..., 1., 1., 1.],
        [0., 0., 0., ..., 0., 0., 0.],
        ...,
        [1., 1., 0., ..., 1., 1., 1.],
        [1., 1., 1., ..., 1., 1., 1.],
        [1., 1., 1., ..., 1., 1., 1.]],

       ...,

       [[1., 1., 1., ..., 1., 1., 1.],
        [1., 1., 1., ..., 1., 1., 1.],
        [1., 1., 1., ..., 1., 1., 1.],
        ...,
        [0., 0., 0., ..., 0., 0., 0.],
        [1., 1., 1., ..., 1., 1., 1.],
        [1., 1., 1., ..., 1., 1., 1.]],

       [[1., 1., 1., ..., 1., 1., 1.],
        [1., 1., 1., ..., 1., 1., 1.],
        [1., 1., 1., ..., 1., 1., 1.],
        ...,
        [1., 1., 0., ..., 1., 1., 1.],
        [0., 0., 0., ..., 0., 0., 0.],
        [1., 1., 1., ..., 1., 1., 1.]],

       [[1., 1., 1., ..., 1., 1., 1.],
        [1., 1., 1., ..., 1., 1., 1.],
        [1., 1., 1., ..., 1., 1., 1.],
        ...,
        [1., 1., 0., ..., 1., 1., 1.],
        [1., 1., 1., ..., 1., 1., 1.],
        [0., 0., 0., ..., 0., 0., 0.]]])

Coverage II: neighboring

In [8]:
# import numpy as np
# import geopandas as gpd
# from pysal.lib import weights

# filename_gdf = 'data/franklin_tract10.json'
# gdf = gpd.read_file(filename_gdf)
# gdf['GEOID10'] = gdf['GEOID10'].astype(str)
# wr = weights.distance.KNN.from_dataframe(gdf, k=10)
# print(wr.neighbors[0])

# ## define coverage aijk
# T = np.zeros((I, I, K))
# for i in wr.neighbors:
#     neighbors_idx = wr.neighbors[i]
#     for j in neighbors_idx:
#         geoid = gdf.loc[[j],'GEOID10'].values[0]
#         # idx = hist.loc[hist["TRACT"] == geoid].index[0]
#         for k in range(K):
#             if j not in V[k]:
#                 T[i, j, k] = 1
# T

Payoff table: lexicographic optimization

In [23]:
## prioritize privacy
import pandas as pd
from gurobipy import Model, GRB, LinExpr, quicksum

# initialize model
m1 = Model('td')
# m.Params.LogToConsole = 0

# add objective function
obj1, obj2 = LinExpr(), LinExpr()

# add decision variables and objective function
theta = {}
for k in range(K):
    if len(V[k]) == 0:
        continue
    for i in V[k]:
        for j in range(I):
            # decision variables
            theta[i, j, k] = m1.addVar(vtype=GRB.CONTINUOUS, lb=0, ub=1, name="theta_%d_%d_%d"%(i, j, k))
            # objective
            obj1 += T[i, j, k] * theta[i, j, k] * A[i, k]
            obj2 += T[i, j, k] * theta[i, j, k] * A[i, k] * W[i, j, k]
            

        # add constraints
        m1.addConstr(quicksum(theta[i, j, k] for j in range(I)) == 1)
        m1.addConstr(theta[i, i, k] + quicksum(T[i, j, k] * theta[i, j, k] for j in range(I)) == 1)

for j in range(I):
    m1.addConstr(quicksum(quicksum(T[i, j, k] * theta[i, j, k] * A[i, k] for i in V[k]) for k in range(K)) <= nj)

m1.setObjectiveN(-obj1, index=0, priority=2, name="privacy")
m1.setObjectiveN(obj2, index=1, priority=1, name="utility")

m1.update()
m1.optimize()

Gurobi Optimizer version 9.1.1 build v9.1.1rc0 (win64)
Thread count: 2 physical cores, 4 logical processors, using up to 4 threads
Optimize a model with 3278 rows, 425148 columns and 1016059 nonzeros
Model fingerprint: 0xcfeec1b9
Variable types: 425148 continuous, 0 integer (0 binary)
Coefficient statistics:
  Matrix range     [1e+00, 3e+00]
  Objective range  [1e+00, 2e+02]
  Bounds range     [1e+00, 1e+00]
  RHS range        [1e+00, 2e+01]

---------------------------------------------------------------------------
Multi-objectives: starting optimization with 2 objectives ...
---------------------------------------------------------------------------

Multi-objectives: applying initial presolve ...
---------------------------------------------------------------------------

Presolve removed 1 rows and 0 columns
Presolved: 3277 rows and 425148 columns
---------------------------------------------------------------------------

Multi-objectives: optimize objective 1 (privacy) ...
---------------------------------------------------------------------------


Concurrent LP optimizer: dual simplex and barrier
Showing barrier log only...

Presolve removed 1496 rows and 130441 columns
Presolve time: 1.34s
Presolved: 1781 rows, 294707 columns, 589414 nonzeros

Ordering time: 0.00s

Barrier statistics:
 AA' NZ     : 1.703e+04
 Factor NZ  : 2.654e+04 (roughly 7 MBytes of memory)
 Factor Ops : 2.282e+06 (less than 1 second per iteration)
 Threads    : 1

                  Objective                Residual
Iter       Primal          Dual         Primal    Dual     Compl     Time
   0  -7.91507836e+05 -2.94784554e+03  1.32e+03 1.01e-01  2.48e+00     2s
   1  -6.80513138e+03 -3.21159367e+03  6.84e+00 3.33e-15  3.02e-02     2s
   2  -2.64699290e+03 -2.76886141e+03  0.00e+00 3.77e-15  3.54e-03     2s
   3  -2.64798472e+03 -2.64812195e+03  0.00e+00 4.66e-15  3.99e-06     2s
   4  -2.64799998e+03 -2.64800012e+03  0.00e+00 4.35e-15  3.99e-09     2s
   5  -2.64800000e+03 -2.64800000e+03  2.26e-14 4.39e-15  4.01e-15     2s

Barrier solved model in 5 iterations and 1.69 seconds
Optimal objective -2.64800000e+03

Crossover log...

      70 DPushes remaining with DInf 0.0000000e+00                 2s
       0 DPushes remaining with DInf 0.0000000e+00                 2s

   16958 PPushes remaining with PInf 0.0000000e+00                 2s
       0 PPushes remaining with PInf 0.0000000e+00                 2s

  Push phase complete: Pinf 0.0000000e+00, Dinf 0.0000000e+00      2s

Iteration    Objective       Primal Inf.    Dual Inf.      Time
   17031   -2.6480000e+03   0.000000e+00   0.000000e+00      2s

Use crossover to convert LP symmetric solution to basic solution...
Crossover log...

       0 DPushes remaining with DInf 0.0000000e+00                 2s

    4615 PPushes remaining with PInf 0.0000000e+00                 2s
       0 PPushes remaining with PInf 0.0000000e+00                 2s

  Push phase complete: Pinf 0.0000000e+00, Dinf 0.0000000e+00      2s

Iteration    Objective       Primal Inf.    Dual Inf.      Time
   22288   -2.6480000e+03   0.000000e+00   0.000000e+00      2s

Solved with dual simplex
Solved in 5012 iterations and 2.13 seconds
Optimal objective -2.648000000e+03
---------------------------------------------------------------------------

Multi-objectives: optimize objective 2 (utility) ...
---------------------------------------------------------------------------

Iteration    Objective       Primal Inf.    Dual Inf.      Time
       0    6.7828832e+04   0.000000e+00   5.235258e+06      2s
   94850    2.8397618e+03   0.000000e+00   0.000000e+00      5s

Solved in 94850 iterations and 5.52 seconds
Optimal objective  2.839761826e+03

---------------------------------------------------------------------------
Multi-objectives: solved in 5.62 seconds, solution count 2

In [26]:
f1_max = -m1.getObjective().getValue()
f1_max

2648.0

In [24]:
## prioritize utility
import pandas as pd
from gurobipy import Model, GRB, LinExpr, quicksum

# initialize model
m2 = Model('td')
# m.Params.LogToConsole = 0

# add objective function
obj1, obj2 = LinExpr(), LinExpr()

# add decision variables and objective function
theta = {}
for k in range(K):
    if len(V[k]) == 0:
        continue
    for i in V[k]:
        for j in range(I):
            # decision variables
            theta[i, j, k] = m2.addVar(vtype=GRB.CONTINUOUS, lb=0, ub=1, name="theta_%d_%d_%d"%(i, j, k))
            # objective
            obj1 += T[i, j, k] * theta[i, j, k] * A[i, k]
            obj2 += T[i, j, k] * theta[i, j, k] * A[i, k] * W[i, j, k]
            

        # add constraints
        m2.addConstr(quicksum(theta[i, j, k] for j in range(I)) == 1)
        m2.addConstr(theta[i, i, k] + quicksum(T[i, j, k] * theta[i, j, k] for j in range(I)) == 1)

for j in range(I):
    m2.addConstr(quicksum(quicksum(T[i, j, k] * theta[i, j, k] * A[i, k] for i in V[k]) for k in range(K)) <= nj)

m2.setObjectiveN(obj2, index=1, priority=2, name="utility")
m2.setObjectiveN(-obj1, index=0, priority=1, name="privacy")

m2.update()
m2.optimize()

Gurobi Optimizer version 9.1.1 build v9.1.1rc0 (win64)
Thread count: 2 physical cores, 4 logical processors, using up to 4 threads
Optimize a model with 3278 rows, 425148 columns and 1016059 nonzeros
Model fingerprint: 0x9f7b171d
Variable types: 425148 continuous, 0 integer (0 binary)
Coefficient statistics:
  Matrix range     [1e+00, 3e+00]
  Objective range  [1e+00, 2e+02]
  Bounds range     [1e+00, 1e+00]
  RHS range        [1e+00, 2e+01]

---------------------------------------------------------------------------
Multi-objectives: starting optimization with 2 objectives ...
---------------------------------------------------------------------------

Multi-objectives: applying initial presolve ...
---------------------------------------------------------------------------

Presolve removed 1 rows and 0 columns
Presolved: 3277 rows and 425148 columns
---------------------------------------------------------------------------

Multi-objectives: optimize objective 1 (utility) ...
---------------------------------------------------------------------------


Concurrent LP optimizer: dual simplex and barrier
Showing barrier log only...

Presolve removed 3277 rows and 425148 columns
Presolve time: 1.39s
Presolve: All rows and columns removed
Iteration    Objective       Primal Inf.    Dual Inf.      Time
       0    0.0000000e+00   0.000000e+00   0.000000e+00      2s

Solved with barrier
Solved in 0 iterations and 1.55 seconds
Optimal objective  0.000000000e+00
---------------------------------------------------------------------------

Multi-objectives: optimize objective 2 (privacy) ...
---------------------------------------------------------------------------

Iteration    Objective       Primal Inf.    Dual Inf.      Time
       0    0.0000000e+00   0.000000e+00   0.000000e+00      2s

Solved in 0 iterations and 1.75 seconds
Optimal objective  0.000000000e+00

---------------------------------------------------------------------------
Multi-objectives: solved in 1.83 seconds, solution count 1

Run model: epsilon-constraint

In [32]:
intervals = 20
for i in range(intervals + 1):
    epsilon = f1_max * i / intervals
    print(epsilon)

0.0
132.4
264.8
397.2
529.6
662.0
794.4
926.8
1059.2
1191.6
1324.0
1456.4
1588.8
1721.2
1853.6
1986.0
2118.4
2250.8
2383.2
2515.6
2648.0

In [25]:
def run_model(epsilon, I, K, T, A, W, V):
    # initialize model
    m = Model('td')
    # m.Params.LogToConsole = 0

    # add objective function
    obj1, obj2 = LinExpr(), LinExpr()

    # add decision variables and objective function
    theta = {}
    for k in range(K):
        if len(V[k]) == 0:
            continue
        for i in V[k]:
            for j in range(I):
                # decision variables
                theta[i, j, k] = m.addVar(vtype=GRB.CONTINUOUS, lb=0, ub=1, name="theta_%d_%d_%d"%(i, j, k))
                # m.update()
                # objective
                obj1 += T[i, j, k] * theta[i, j, k] * A[i, k]
                obj2 += T[i, j, k] * theta[i, j, k] * A[i, k] * W[i, j, k]
                

            # add constraints
            m.addConstr(quicksum(theta[i, j, k] for j in range(I)) == 1)
            m.addConstr(theta[i, i, k] + quicksum(T[i, j, k] * theta[i, j, k] for j in range(I)) == 1)

    for j in range(I):
        m.addConstr(quicksum(quicksum(T[i, j, k] * theta[i, j, k] * A[i, k] for i in V[k]) for k in range(K)) <= nj)

    m.setObjectiveN(obj2, index=1, priority=2, name="utility")
    m.setObjectiveN(-obj1, index=0, priority=1, name="privacy")

    m.update()
    m.optimize()

Gurobi Optimizer version 9.1.1 build v9.1.1rc0 (win64)
Thread count: 2 physical cores, 4 logical processors, using up to 4 threads
Optimize a model with 3278 rows, 425148 columns and 1016059 nonzeros
Model fingerprint: 0x9f7b171d
Variable types: 425148 continuous, 0 integer (0 binary)
Coefficient statistics:
  Matrix range     [1e+00, 3e+00]
  Objective range  [1e+00, 2e+02]
  Bounds range     [1e+00, 1e+00]
  RHS range        [1e+00, 2e+01]

---------------------------------------------------------------------------
Multi-objectives: starting optimization with 2 objectives ...
---------------------------------------------------------------------------

Multi-objectives: applying initial presolve ...
---------------------------------------------------------------------------

Presolve removed 1 rows and 0 columns
Presolved: 3277 rows and 425148 columns
---------------------------------------------------------------------------

Multi-objectives: optimize objective 1 (utility) ...
---------------------------------------------------------------------------


Concurrent LP optimizer: dual simplex and barrier
Showing barrier log only...

Presolve removed 3277 rows and 425148 columns
Presolve time: 1.55s
Presolve: All rows and columns removed
Iteration    Objective       Primal Inf.    Dual Inf.      Time
       0    0.0000000e+00   0.000000e+00   0.000000e+00      2s

Solved with barrier
Solved in 0 iterations and 1.73 seconds
Optimal objective  0.000000000e+00
---------------------------------------------------------------------------

Multi-objectives: optimize objective 2 (privacy) ...
---------------------------------------------------------------------------

Iteration    Objective       Primal Inf.    Dual Inf.      Time
       0    0.0000000e+00   0.000000e+00   0.000000e+00      2s

Solved in 0 iterations and 1.95 seconds
Optimal objective  0.000000000e+00

---------------------------------------------------------------------------
Multi-objectives: solved in 2.03 seconds, solution count 1