Read individual data

- Geographic level: tract
- Attributes: VOTINGAGE (2) $*$ HISPANIC (2) $*$ CENRACE (63)

In [1]:
import pandas as pd
import numpy as np

filename_hist = 'data/franklin_hist.csv'
hist = pd.read_csv(filename_hist)

# block to tract
hist['TRACT'] = hist['GEOID10'].astype(str).str[:11]
col_names = hist.columns.to_numpy()
col_names = np.delete(col_names, [0, -1])
hist = hist.groupby('TRACT').sum()[col_names]
hist = hist.reset_index()
hist

,TRACT,00000000,00000001,00000002,00000003,00000004,00000005,00000006,00000007,00000008,...,07010153,07010154,07010155,07010156,07010157,07010158,07010159,07010160,07010161,07010162
0,39049000110,438,6,0,7,0,4,5,1,0,...,0,0,0,0,0,0,0,0,0,0
1,39049000120,467,4,0,11,0,2,2,0,2,...,0,0,0,0,0,0,0,0,0,0
2,39049000210,430,11,0,6,0,4,4,1,4,...,0,0,0,0,0,0,0,0,0,0
3,39049000220,653,3,1,12,0,6,7,0,6,...,0,0,0,0,0,0,0,0,0,0
4,39049000310,313,205,0,17,0,2,19,0,4,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
279,39049010500,1821,35,1,409,0,2,5,2,22,...,0,0,0,0,0,0,0,0,0,0
280,39049010601,1408,36,0,146,0,3,12,0,15,...,0,0,0,0,0,0,0,0,0,0
281,39049010602,1585,45,3,139,0,4,7,2,9,...,0,0,0,0,0,0,0,0,0,0
282,39049010700,83,11,0,4,0,0,2,0,0,...,0,0,0,0,0,0,0,0,0,0
283,39049980000,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [2]:
# HHGQ (8) $*$ VOTINGAGE (2) $*$ HISPANIC (2) $*$ CENRACE (63) to VOTINGAGE (2) $*$ HISPANIC (2) $*$ RACE (7)
n2, n3, n4 = 2, 2, 63

for y in range(n2):  # voting age
    y = '{number:0{width}d}'.format(width=2, number=y)
    col_names = [col for col in hist.columns if y in col[2:4] and len(col)==8]

    for z in range(n3):  # ethnicity
        z = '{number:0{width}d}'.format(width=2, number=z)
        col_names2 = [col for col in col_names if z in col[4:6]]

        col_two_or_more_races = []
        for x in range(n4):  # race
            if x >= 0 and x <= 5:
                x = '{number:0{width}d}'.format(width=2, number=x)
                col_names3 = [col for col in col_names2 if x in col[6:8]]
                hist[x + y + z] = hist[col_names3].sum(axis=1)
            else:
                x = '{number:0{width}d}'.format(width=2, number=x)
                col_names3 = [col for col in col_names2 if x in col[6:8]]
                col_two_or_more_races.extend(col_names3)
        hist['06' + y + z] = hist[col_two_or_more_races].sum(axis=1)

hist.drop([col for col in hist.columns if len(col)==8], axis=1, inplace=True)
hist

,TRACT,000000,010000,020000,030000,040000,050000,060000,000001,010001,...,040100,050100,060100,000101,010101,020101,030101,040101,050101,060101
0,39049000110,438,6,0,7,0,4,6,29,0,...,0,2,1,17,3,0,0,0,6,0
1,39049000120,467,4,0,11,0,2,6,13,0,...,1,0,3,18,0,0,0,0,4,0
2,39049000210,430,11,0,6,0,4,13,10,0,...,0,2,4,34,0,0,0,0,4,0
3,39049000220,653,3,1,12,0,6,13,20,0,...,0,6,4,16,0,2,0,0,8,1
4,39049000310,313,205,0,17,0,2,25,15,1,...,2,5,8,40,1,1,0,0,36,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
279,39049010500,1821,35,1,409,0,2,33,27,0,...,1,8,8,70,0,1,0,0,19,0
280,39049010601,1408,36,0,146,0,3,32,16,3,...,0,2,4,86,0,0,0,0,13,1
281,39049010602,1585,45,3,139,0,4,19,13,1,...,0,8,11,71,2,2,0,0,25,0
282,39049010700,83,11,0,4,0,0,2,6,1,...,1,2,2,10,0,0,0,0,14,0
283,39049980000,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [3]:
# hist.columns = hist.columns.astype("str")
# hist.to_csv("data/data_all.csv", index=False)

Aggregated data

In [3]:
# HISPANIC (2) $*$ RACE (7)
n3, n4 = 2, 7

hist2 = hist.copy()
for x in range(n3):  # ethnicity
    x = '{number:0{width}d}'.format(width=2, number=x)
    for y in range(n4):  # race
        y = '{number:0{width}d}'.format(width=2, number=y)
        col_names = [col for col in hist2.columns if x in col[4:6] and y in col[0:2]]
        hist2[y + x] = hist2[col_names].sum(axis=1)

hist2.drop([col for col in hist2.columns if len(col)==6], axis=1, inplace=True)
hist2

,TRACT,0000,0100,0200,0300,0400,0500,0600,0001,0101,0201,0301,0401,0501,0601
0,39049000110,3171,37,1,36,0,6,7,46,3,1,0,0,7,1
1,39049000120,2985,44,1,42,1,2,9,31,0,2,0,0,5,0
2,39049000210,2729,52,5,32,0,6,17,44,0,0,0,0,4,0
3,39049000220,3500,32,2,55,0,12,17,36,0,2,0,0,12,6
4,39049000310,2080,737,2,70,2,7,33,55,2,1,0,0,54,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
279,39049010500,6402,108,3,1177,1,10,41,97,0,1,2,0,33,4
280,39049010601,3831,125,3,453,0,5,36,102,3,0,0,0,27,3
281,39049010602,5402,154,6,420,0,12,30,84,3,3,0,0,42,1
282,39049010700,1046,118,4,61,1,2,4,16,1,0,0,0,17,0
283,39049980000,2,0,0,0,0,0,0,0,0,0,0,0,0,0

In [4]:
# RACE (7)
n4 = 7

hist3 = hist.copy()
for y in range(n4):  # race
    y = '{number:0{width}d}'.format(width=2, number=y)
    col_names = [col for col in hist3.columns if y in col[0:2]]
    hist3[y] = hist3[col_names].sum(axis=1)

hist3.drop([col for col in hist3.columns if len(col)==6], axis=1, inplace=True)
hist3

           TRACT    00   01  02    03  04  05  06
0    39049000110  3217   40   2    36   0  13   8
1    39049000120  3016   44   3    42   1   7   9
2    39049000210  2773   52   5    32   0  10  17
3    39049000220  3536   32   4    55   0  24  23
4    39049000310  2135  739   3    70   2  61  37
..           ...   ...  ...  ..   ...  ..  ..  ..
279  39049010500  6499  108   4  1179   1  43  45
280  39049010601  3933  128   3   453   0  32  39
281  39049010602  5486  157   9   420   0  54  31
282  39049010700  1062  119   4    61   1  19   4
283  39049980000     2    0   0     0   0   0   0

[284 rows x 8 columns]

Model inputs

In [6]:
import numpy as np

# define all the input data for the model
I, K = hist.shape[0], hist.shape[1] - 1
nj = 20
r = 3

V = []
for k in range(1, K+1):
    listElem = []
    for l in range(1, r+1):
        listElem.append(hist.index[hist.iloc[:,k] == l].tolist())
    V.append(listElem)
print(V[1])

A = hist.iloc[:,1:].to_numpy()
print(A.shape, A[0])

W = np.empty([I, I, K])
for i in range(I):
    for j in range(I):
        for k in range(K):
            if A[i, k] == 0 or A[j, k] == 0:
                W[i, j, k] = 50
            else:
                W[i, j, k] = 1 / A[i, k] + 1 / A[j, k]
print(W.shape, W[0])

C = [1 / ((l + 1)**2) for l in range(r)]
print(C)

[[108], [19, 49, 103, 111], [3, 33, 85, 102]]
(284, 28) [ 438    6    0    7    0    4    6   29    0    1    0    0    1    1
 2733   31    1   29    0    2    1   17    3    0    0    0    6    0]
(284, 284, 28) [[4.56621005e-03 3.33333333e-01 5.00000000e+01 ... 5.00000000e+01
  3.33333333e-01 5.00000000e+01]
 [4.42443265e-03 4.16666667e-01 5.00000000e+01 ... 5.00000000e+01
  4.16666667e-01 5.00000000e+01]
 [4.60868642e-03 2.57575758e-01 5.00000000e+01 ... 5.00000000e+01
  4.16666667e-01 5.00000000e+01]
 ...
 [2.91401985e-03 1.88888889e-01 5.00000000e+01 ... 5.00000000e+01
  2.06666667e-01 5.00000000e+01]
 [1.43312978e-02 2.57575758e-01 5.00000000e+01 ... 5.00000000e+01
  2.38095238e-01 5.00000000e+01]
 [5.00000000e+01 5.00000000e+01 5.00000000e+01 ... 5.00000000e+01
  5.00000000e+01 5.00000000e+01]]
[1.0, 0.25, 0.1111111111111111]

Coverage I: all except the origin and other uniques

In [41]:
import numpy as np

## define coverage aijk
T = np.ones((I, I, K))

for i in range(I): 
    for j in range(I):
        for k in range(K):
            for l in range(r):
                if i == j or j in V[k][l]:
                    T[i, j, k] = 0
T

array([[[0., 0., 0., ..., 0., 0., 0.],
        [1., 1., 1., ..., 1., 1., 1.],
        [1., 1., 1., ..., 1., 1., 1.],
        ...,
        [1., 1., 1., ..., 1., 1., 1.],
        [1., 1., 1., ..., 1., 1., 1.],
        [1., 1., 1., ..., 1., 1., 1.]],

       [[1., 1., 1., ..., 1., 1., 1.],
        [0., 0., 0., ..., 0., 0., 0.],
        [1., 1., 1., ..., 1., 1., 1.],
        ...,
        [1., 1., 1., ..., 1., 1., 1.],
        [1., 1., 1., ..., 1., 1., 1.],
        [1., 1., 1., ..., 1., 1., 1.]],

       [[1., 1., 1., ..., 1., 1., 1.],
        [1., 1., 1., ..., 1., 1., 1.],
        [0., 0., 0., ..., 0., 0., 0.],
        ...,
        [1., 1., 1., ..., 1., 1., 1.],
        [1., 1., 1., ..., 1., 1., 1.],
        [1., 1., 1., ..., 1., 1., 1.]],

       ...,

       [[1., 1., 1., ..., 1., 1., 1.],
        [1., 1., 1., ..., 1., 1., 1.],
        [1., 1., 1., ..., 1., 1., 1.],
        ...,
        [0., 0., 0., ..., 0., 0., 0.],
        [1., 1., 1., ..., 1., 1., 1.],
        [1., 1., 1., ..., 1., 1., 1.]],

       [[1., 1., 1., ..., 1., 1., 1.],
        [1., 1., 1., ..., 1., 1., 1.],
        [1., 1., 1., ..., 1., 1., 1.],
        ...,
        [1., 1., 1., ..., 1., 1., 1.],
        [0., 0., 0., ..., 0., 0., 0.],
        [1., 1., 1., ..., 1., 1., 1.]],

       [[1., 1., 1., ..., 1., 1., 1.],
        [1., 1., 1., ..., 1., 1., 1.],
        [1., 1., 1., ..., 1., 1., 1.],
        ...,
        [1., 1., 1., ..., 1., 1., 1.],
        [1., 1., 1., ..., 1., 1., 1.],
        [0., 0., 0., ..., 0., 0., 0.]]])

Payoff table: lexicographic optimization

In [42]:
## prioritize privacy
import pandas as pd
from gurobipy import Model, GRB, LinExpr, quicksum

# initialize model
m1 = Model('td')
# m.Params.LogToConsole = 0

# add objective function
obj1, obj2 = LinExpr(), LinExpr()

# add decision variables and objective function
theta = {}
for k in range(K):
    for l in range(r):
        if len(V[k][l]) == 0:
            continue
        for i in V[k][l]:
            for j in range(I):
                # decision variables
                theta[i, j, k] = m1.addVar(vtype=GRB.CONTINUOUS, lb=0, ub=1, name="theta_%d_%d_%d"%(i, j, k))
                # objective
                obj1 += C[l] * T[i, j, k] * theta[i, j, k] * A[i, k]
                obj2 += T[i, j, k] * theta[i, j, k] * A[i, k] * W[i, j, k]
                
            # add constraints
            m1.addConstr(quicksum(theta[i, j, k] for j in range(I)) == 1)
            m1.addConstr(theta[i, i, k] + quicksum(T[i, j, k] * theta[i, j, k] for j in range(I)) == 1)

for j in range(I):
    m1.addConstr(quicksum(quicksum(quicksum(T[i, j, k] * theta[i, j, k] * A[i, k] for i in V[k][l]) for l in range(r)) for k in range(K)) <= nj)

m1.setObjectiveN(-obj1, index=0, priority=2, name="privacy")
m1.setObjectiveN(obj2, index=1, priority=1, name="utility")

m1.update()
m1.optimize()

Gurobi Optimizer version 9.1.1 build v9.1.1rc0 (win64)
Thread count: 2 physical cores, 4 logical processors, using up to 4 threads
Optimize a model with 2602 rows, 329156 columns and 825721 nonzeros
Model fingerprint: 0x30e5f086
Variable types: 329156 continuous, 0 integer (0 binary)
Coefficient statistics:
  Matrix range     [1e+00, 2e+00]
  Objective range  [1e+00, 1e+02]
  Bounds range     [1e+00, 1e+00]
  RHS range        [1e+00, 2e+01]

---------------------------------------------------------------------------
Multi-objectives: starting optimization with 2 objectives ...
---------------------------------------------------------------------------

Multi-objectives: applying initial presolve ...
---------------------------------------------------------------------------

Presolve removed 1 rows and 0 columns
Presolved: 2601 rows and 329156 columns
---------------------------------------------------------------------------

Multi-objectives: optimize objective 1 (privacy) ...
---------------------------------------------------------------------------


Concurrent LP optimizer: dual simplex and barrier
Showing barrier log only...

Presolve removed 1158 rows and 81453 columns
Presolve time: 1.28s
Presolved: 1443 rows, 247703 columns, 495406 nonzeros

Ordering time: 0.00s

Barrier statistics:
 AA' NZ     : 1.148e+04
 Factor NZ  : 1.641e+04 (roughly 5 MBytes of memory)
 Factor Ops : 9.632e+05 (less than 1 second per iteration)
 Threads    : 1

                  Objective                Residual
Iter       Primal          Dual         Primal    Dual     Compl     Time
   0  -4.50538299e+05 -2.10476054e+03  9.57e+02 4.77e-01  5.34e+00     2s
   1  -4.77914016e+04 -2.25114320e+03  9.81e+01 5.33e-15  6.01e-01     2s
   2  -1.56242058e+03 -1.83385007e+03  4.36e-01 4.88e-15  2.30e-02     2s
   3  -1.35553381e+03 -1.36518605e+03  0.00e+00 4.88e-15  4.15e-04     2s
   4  -1.35574998e+03 -1.35576089e+03  0.00e+00 5.08e-15  4.69e-07     2s
   5  -1.35575144e+03 -1.35575144e+03  0.00e+00 4.76e-15  4.75e-13     2s

Barrier solved model in 5 iterations and 1.54 seconds
Optimal objective -1.35575144e+03

Crossover log...

      40 DPushes remaining with DInf 0.0000000e+00                 2s
       0 DPushes remaining with DInf 0.0000000e+00                 2s

   11427 PPushes remaining with PInf 0.0000000e+00                 2s
       0 PPushes remaining with PInf 0.0000000e+00                 2s

  Push phase complete: Pinf 0.0000000e+00, Dinf 0.0000000e+00      2s

Iteration    Objective       Primal Inf.    Dual Inf.      Time
   11470   -1.3557514e+03   0.000000e+00   0.000000e+00      2s

Use crossover to convert LP symmetric solution to basic solution...
Crossover log...

       0 DPushes remaining with DInf 0.0000000e+00                 2s

    3527 PPushes remaining with PInf 0.0000000e+00                 2s
       0 PPushes remaining with PInf 0.0000000e+00                 2s

  Push phase complete: Pinf 0.0000000e+00, Dinf 0.0000000e+00      2s

Iteration    Objective       Primal Inf.    Dual Inf.      Time
   15485   -1.3557514e+03   0.000000e+00   0.000000e+00      2s

Solved with dual simplex
Solved in 3747 iterations and 1.89 seconds
Optimal objective -1.355751442e+03
---------------------------------------------------------------------------

Multi-objectives: optimize objective 2 (utility) ...
---------------------------------------------------------------------------

Iteration    Objective       Primal Inf.    Dual Inf.      Time
       0    4.8725142e+04   0.000000e+00   4.694873e+06      2s
   51286    1.3133721e+03   0.000000e+00   0.000000e+00      3s

Solved in 51286 iterations and 3.25 seconds
Optimal objective  1.313372134e+03

---------------------------------------------------------------------------
Multi-objectives: solved in 3.31 seconds, solution count 2

In [51]:
m1.params.ObjNumber = 1
f2_max = m1.ObjNVal

1313.3721344410867

In [43]:
# f1_max = -m1.getObjective().getValue()
# f1_max

1355.7514421272247

In [27]:
## prioritize utility
import pandas as pd
from gurobipy import Model, GRB, LinExpr, quicksum

# initialize model
m2 = Model('td')
# m.Params.LogToConsole = 0

# add objective function
obj1, obj2 = LinExpr(), LinExpr()

# add decision variables and objective function
theta = {}
for k in range(K):
    for l in range(r):
        if len(V[k][l]) == 0:
            continue
        for i in V[k][l]:
            for j in range(I):
                # decision variables
                theta[i, j, k] = m2.addVar(vtype=GRB.CONTINUOUS, lb=0, ub=1, name="theta_%d_%d_%d"%(i, j, k))
                # objective
                obj1 += C[l] * T[i, j, k] * theta[i, j, k] * A[i, k]
                obj2 += T[i, j, k] * theta[i, j, k] * A[i, k] * W[i, j, k]
                
            # add constraints
            m2.addConstr(quicksum(theta[i, j, k] for j in range(I)) == 1)
            m2.addConstr(theta[i, i, k] + quicksum(T[i, j, k] * theta[i, j, k] for j in range(I)) == 1)

for j in range(I):
    m2.addConstr(quicksum(quicksum(quicksum(T[i, j, k] * theta[i, j, k] * A[i, k] for i in V[k][l]) for l in range(r)) for k in range(K)) <= nj)

m2.setObjectiveN(obj2, index=1, priority=2, name="utility")
m2.setObjectiveN(-obj1, index=0, priority=1, name="privacy")

m2.update()
m2.optimize()

Gurobi Optimizer version 9.1.1 build v9.1.1rc0 (win64)
Thread count: 2 physical cores, 4 logical processors, using up to 4 threads
Optimize a model with 3278 rows, 425148 columns and 1016059 nonzeros
Model fingerprint: 0xc295c444
Variable types: 425148 continuous, 0 integer (0 binary)
Coefficient statistics:
  Matrix range     [1e+00, 3e+00]
  Objective range  [1e+00, 2e+02]
  Bounds range     [1e+00, 1e+00]
  RHS range        [1e+00, 2e+01]

---------------------------------------------------------------------------
Multi-objectives: starting optimization with 2 objectives ...
---------------------------------------------------------------------------

Multi-objectives: applying initial presolve ...
---------------------------------------------------------------------------

Presolve removed 1 rows and 0 columns
Presolved: 3277 rows and 425148 columns
---------------------------------------------------------------------------

Multi-objectives: optimize objective 1 (utility) ...
---------------------------------------------------------------------------


Concurrent LP optimizer: dual simplex and barrier
Showing barrier log only...

Presolve removed 3277 rows and 425148 columns
Presolve time: 1.75s
Presolve: All rows and columns removed
Iteration    Objective       Primal Inf.    Dual Inf.      Time
       0    0.0000000e+00   0.000000e+00   0.000000e+00      2s

Solved with barrier
Solved in 0 iterations and 1.96 seconds
Optimal objective  0.000000000e+00
---------------------------------------------------------------------------

Multi-objectives: optimize objective 2 (privacy) ...
---------------------------------------------------------------------------

Iteration    Objective       Primal Inf.    Dual Inf.      Time
       0    0.0000000e+00   0.000000e+00   0.000000e+00      2s

Solved in 0 iterations and 2.20 seconds
Optimal objective  0.000000000e+00

---------------------------------------------------------------------------
Multi-objectives: solved in 2.30 seconds, solution count 1

Run model: epsilon-constraint

In [44]:
import pandas as pd
from gurobipy import Model, GRB, LinExpr, quicksum

def run_model(epsilon, I, K, T, A, W, V, r):
    # initialize model
    m = Model('td')

    # add objective function
    obj = LinExpr()

    # add decision variables and objective function
    theta = {}
    for k in range(K):
        for l in range(r):
            if len(V[k][l]) == 0:
                continue
            for i in V[k][l]:
                for j in range(I):
                    # decision variables
                    theta[i, j, k] = m.addVar(vtype=GRB.CONTINUOUS, lb=0, ub=1, name="theta_%d_%d_%d"%(i, j, k))
                    # objective
                    obj += C[l] * T[i, j, k] * theta[i, j, k] * A[i, k]
                    
                # add constraints
                m.addConstr(quicksum(theta[i, j, k] for j in range(I)) == 1)
                m.addConstr(theta[i, i, k] + quicksum(T[i, j, k] * theta[i, j, k] for j in range(I)) == 1)

    for j in range(I):
        m.addConstr(quicksum(quicksum(quicksum(T[i, j, k] * theta[i, j, k] * A[i, k] for i in V[k][l]) for l in range(r)) for k in range(K)) <= nj)

    # m.addConstr(quicksum(quicksum(quicksum(quicksum(C[l] * T[i, j, k] * theta[i, j, k] * A[i, k] for i in V[k][l]) for l in range(r)) for k in range(K)) for j in range(I)) >= epsilon)

    m.addConstr(quicksum(quicksum(quicksum(quicksum(T[i, j, k] * theta[i, j, k] * A[i, k] * W[i, j, k] for i in V[k][l]) for l in range(r)) for k in range(K)) for j in range(I)) <= epsilon)

    m.setObjective(obj, GRB.MAXIMIZE)

    m.update()
    m.optimize()
    return m

In [45]:
epsilon = 0.5 * f2_max
m = run_model(epsilon, I, K, T, A, W, C, V)

Gurobi Optimizer version 9.1.1 build v9.1.1rc0 (win64)
Thread count: 2 physical cores, 4 logical processors, using up to 4 threads
Optimize a model with 2603 rows, 329156 columns and 1073424 nonzeros
Model fingerprint: 0xe70b7e87
Coefficient statistics:
  Matrix range     [1e+00, 3e+00]
  Objective range  [1e+00, 1e+02]
  Bounds range     [1e+00, 1e+00]
  RHS range        [1e+00, 7e+01]

Concurrent LP optimizer: dual simplex and barrier
Showing barrier log only...

Presolve removed 1159 rows and 81453 columns
Presolve time: 0.85s
Presolved: 1444 rows, 247703 columns, 743109 nonzeros

Ordering time: 0.00s

Barrier statistics:
 AA' NZ     : 1.250e+04
 Factor NZ  : 1.664e+04 (roughly 5 MBytes of memory)
 Factor Ops : 9.447e+05 (less than 1 second per iteration)
 Threads    : 1

                  Objective                Residual
Iter       Primal          Dual         Primal    Dual     Compl     Time
   0   1.20496677e+06  0.00000000e+00  2.96e+02 0.00e+00  7.78e+01     1s
   1   8.80065393e+05 -4.39481587e+04  2.24e+02 1.14e-13  5.74e+01     1s
   2   1.67245685e+05 -1.50746970e+04  4.19e+01 1.71e-13  1.09e+01     1s
   3   3.61878134e+03 -6.89670369e+03  0.00e+00 1.14e-13  4.26e-01     1s
   4   7.33507126e+02 -1.58200329e+03  0.00e+00 1.14e-13  9.39e-02     1s
   5   5.21288096e+02 -5.22264993e+02  0.00e+00 1.14e-13  4.23e-02     1s
   6   3.24079963e+02 -2.91866444e+02  0.00e+00 1.14e-13  2.50e-02     1s
   7   1.81449498e+02 -1.70017415e+02  0.00e+00 1.71e-13  1.42e-02     1s
   8   6.79692912e+01 -1.22186170e+02  0.00e+00 2.84e-13  7.71e-03     1s
   9   3.36847441e+01 -9.09955672e+01  0.00e+00 1.71e-13  5.05e-03     1s
  10   3.05834662e+01 -2.39772362e+01  0.00e+00 4.55e-13  2.21e-03     1s
  11   2.77687487e+01  1.23613720e+00  0.00e+00 3.98e-13  1.08e-03     1s
  12   2.56371212e+01  2.07126185e+01  0.00e+00 1.71e-13  2.00e-04     1s
  13   2.48448728e+01  2.13789627e+01  0.00e+00 1.71e-13  1.40e-04     1s
  14   2.42641926e+01  2.34104456e+01  0.00e+00 1.14e-13  3.46e-05     1s
  15   2.42279103e+01  2.36126923e+01  0.00e+00 1.14e-13  2.49e-05     1s
  16   2.40630026e+01  2.38830735e+01  0.00e+00 1.14e-13  7.29e-06     1s
  17   2.40381844e+01  2.39869877e+01  0.00e+00 1.14e-13  2.08e-06     1s
  18   2.40276019e+01  2.40071422e+01  0.00e+00 1.14e-13  8.29e-07     1s
  19   2.40246932e+01  2.40154498e+01  0.00e+00 1.14e-13  3.75e-07     1s
  20   2.40242376e+01  2.40241657e+01  0.00e+00 2.27e-13  2.91e-09     1s
  21   2.40241921e+01  2.40241921e+01  0.00e+00 1.14e-13  3.65e-12     1s
  22   2.40241921e+01  2.40241921e+01  0.00e+00 1.14e-13  3.65e-15     1s

Barrier solved model in 22 iterations and 1.35 seconds
Optimal objective 2.40241921e+01

Crossover log...

       3 DPushes remaining with DInf 0.0000000e+00                 1s
       0 DPushes remaining with DInf 0.0000000e+00                 1s

       0 PPushes remaining with PInf 0.0000000e+00                 1s

  Push phase complete: Pinf 0.0000000e+00, Dinf 0.0000000e+00      1s

Iteration    Objective       Primal Inf.    Dual Inf.      Time
       6    2.4024192e+01   0.000000e+00   0.000000e+00      1s

Use crossover to convert LP symmetric solution to basic solution...
Crossover log...

       0 DPushes remaining with DInf 0.0000000e+00                 1s

      32 PPushes remaining with PInf 0.0000000e+00                 1s

Solved with dual simplex
Solved in 52 iterations and 1.49 seconds
Optimal objective  2.402419208e+01