<a href="https://colab.research.google.com/github/linyuehzzz/privacy_ga/blob/main/set_coverage_ga.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **Model to reassign all true uniques: set coverage (genetic algorithm)**

In [126]:
from google.colab import drive
drive.mount("/content/gdrive")

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

### **Reading individual data**

- Geographic level: tract
- Attributes: VOTINGAGE (2) $*$ HISPANIC (2) $*$ CENRACE (63)

In [127]:
%cd "/content/gdrive/My Drive/Colab Notebooks/privacy_ga"
import pandas as pd
import numpy as np

filename_hist = 'data/franklin_hist.csv'
hist = pd.read_csv(filename_hist)

# block to tract
hist['TRACT'] = hist['GEOID10'].astype(str).str[:11]
col_names = hist.columns.to_numpy()
col_names = np.delete(col_names, [0, -1])
hist = hist.groupby('TRACT').sum()[col_names]
hist = hist.reset_index()
hist

/content/gdrive/My Drive/Colab Notebooks/privacy_ga

           TRACT  00000000  00000001  ...  07010160  07010161  07010162
0    39049000110       438         6  ...         0         0         0
1    39049000120       467         4  ...         0         0         0
2    39049000210       430        11  ...         0         0         0
3    39049000220       653         3  ...         0         0         0
4    39049000310       313       205  ...         0         0         0
..           ...       ...       ...  ...       ...       ...       ...
279  39049010500      1821        35  ...         0         0         0
280  39049010601      1408        36  ...         0         0         0
281  39049010602      1585        45  ...         0         0         0
282  39049010700        83        11  ...         0         0         0
283  39049980000         0         0  ...         0         0         0

[284 rows x 2017 columns]

Converting individual data

In [128]:
# HHGQ (8) $*$ VOTINGAGE (2) $*$ HISPANIC (2) $*$ CENRACE (63) to VOTINGAGE (2) $*$ HISPANIC (2) $*$ RACE (7)
n2, n3, n4 = 2, 2, 63

for y in range(n2):  # voting age
    y = '{number:0{width}d}'.format(width=2, number=y)
    col_names = [col for col in hist.columns if y in col[2:4] and len(col)==8]

    for z in range(n3):  # ethnicity
        z = '{number:0{width}d}'.format(width=2, number=z)
        col_names2 = [col for col in col_names if z in col[4:6]]

        col_two_or_more_races = []
        for x in range(n4):  # race
            if x >= 0 and x <= 5:
                x = '{number:0{width}d}'.format(width=2, number=x)
                col_names3 = [col for col in col_names2 if x in col[6:8]]
                hist[x + y + z] = hist[col_names3].sum(axis=1)
            else:
                x = '{number:0{width}d}'.format(width=2, number=x)
                col_names3 = [col for col in col_names2 if x in col[6:8]]
                col_two_or_more_races.extend(col_names3)
        hist[x + y + '06'] = hist[col_two_or_more_races].sum(axis=1)

hist.drop([col for col in hist.columns if len(col)==8], axis=1, inplace=True)
hist

           TRACT  000000  010000  020000  ...  020101  030101  040101  050101
0    39049000110     438       6       0  ...       0       0       0       6
1    39049000120     467       4       0  ...       0       0       0       4
2    39049000210     430      11       0  ...       0       0       0       4
3    39049000220     653       3       1  ...       2       0       0       8
4    39049000310     313     205       0  ...       1       0       0      36
..           ...     ...     ...     ...  ...     ...     ...     ...     ...
279  39049010500    1821      35       1  ...       1       0       0      19
280  39049010601    1408      36       0  ...       0       0       0      13
281  39049010602    1585      45       3  ...       2       0       0      25
282  39049010700      83      11       0  ...       0       0       0      14
283  39049980000       0       0       0  ...       0       0       0       0

[284 rows x 27 columns]

### **Defining parameters**

Defining global parameters

In [129]:
HIGH = 2   # binary variables
POOL_SIZE = 100
NGEN = 100
MUT_PROB = 0.9
TOURN_SIZE = 5
N, K = hist.shape[0], hist.shape[1] - 1

Defining $V_k$ and $w_{jk}$

In [130]:
import numpy as np

# define all the input data for the model   
V = {}
for k in range(K):
    V[k] = hist.index[hist.iloc[:, k+1] == 1]

count = 0
for key in V:
    count += len(V[key])
print(count)

W = hist.iloc[:, 1:].apply(lambda x: 1 + 1 / x).to_numpy()
W = np.nan_to_num(W, posinf=100) 
print(W.shape, W[0])

668
(284, 26) [  1.00228311   1.16666667 100.           1.14285714 100.
   1.25         2.           1.03448276 100.           2.
 100.         100.           2.           1.0003659    1.03225806
   2.           1.03448276 100.           1.5        100.
   1.05882353   1.33333333 100.         100.         100.
   1.16666667]

### **Coverage modeling**

Coverage I: all except the origin and other uniques

In [131]:
from collections import defaultdict

def cvgeAll(V, K, N):
    A = defaultdict(list)
    for k in range(K):
        for i in range(N):
            for j in range(N):
                if i != j and j not in V[k]:
                    A[(k, i)].append(j)
    return A

A = cvgeAll(V, K, N)
len(A)

7384

### **Initialization**

In [132]:
from collections import defaultdict
import numpy as np
from random import sample

def init(high, V, A):
    individual = defaultdict(list)
    for k in V:
        for i in V[k]:
            individual[k].append(sample(A[(k, i)], 1)[0])
    return individual

pop = np.array([init(HIGH, V, A) for i in range(POOL_SIZE)])
len(pop), pop[1][11], pop[2][11]

(100, [113, 63, 123, 216], [128, 130, 56, 69])

###**Evaluation**

In [133]:
def evaluate(individual, W):
    obj = 0 
    for k in individual:
        for j in individual[k]:
            obj += W[j, k]
    return obj

# obj = evaluate(pop[1], W)
# obj

###**Crossover**

One-point crossover

In [134]:
from random import randrange
import copy

def cxOnePoint(child1, child2):
    for k in child1:
        cxPoint = randrange(len(child1[k]) + 1)
        child1[k][:cxPoint], child2[k][:cxPoint] = child2[k][:cxPoint], child1[k][:cxPoint]
    return child1, child2

# child1, child2 = copy.deepcopy(pop[1]), copy.deepcopy(pop[2])
# print(child1[11], child2[11])
# child1, child2 = cxOnePoint(child1, child2)
# print(child1[11], child2[11])

Two-point crossover

In [135]:
from random import sample
import copy

def cxTwoPoint(child1, child2):
    for k in child1:
        cxPoints = sample(range(len(child1[k]) + 1), 2)
        child1[k][min(cxPoints):max(cxPoints)], child2[k][min(cxPoints):max(cxPoints)] = child2[k][min(cxPoints):max(cxPoints)], child1[k][min(cxPoints):max(cxPoints)]
    return child1, child2

# child1, child2 = copy.deepcopy(pop[1]), copy.deepcopy(pop[2])
# print(child1[11], child2[11])
# child1, child2 = cxTwoPoint(child1, child2)
# print(child1[11], child2[11])

Uniform crossover

In [136]:
from random import sample
from collections import defaultdict
import copy

def cxUniform(child1, child2):
    child1_new, child2_new = defaultdict(list), defaultdict(list)
    for k in child1:
        for idx, val in enumerate(child1[k]):
            child1_new[k].append(sample([val, child2[k][idx]], 1)[0])
            child2_new[k].append(sample([val, child2[k][idx]], 1)[0])
    return child1_new, child2_new

# child1, child2 = copy.deepcopy(pop[1]), copy.deepcopy(pop[2])
# print(child1[11], child2[11])
# child1, child2 = cxUniform(child1, child2)
# print(child1[11], child2[11])

###**Mutation**

Random resetting mutation

In [137]:
from random import random, sample

def mutRandomReset(mutant, prob, V, A):
    for k in mutant:
        for idx, val in enumerate(mutant[k]):
            if random() < prob:
                i = V[k][idx]
                mutant[k][idx] = sample(A[(k, i)], 1)[0]
    return mutant

# child = copy.deepcopy(pop[1])
# print(child[11])
# child = mutRandomReset(child, 0.6, V, A)
# print(child[11])

###**Selction**

Tournament selection

In [138]:
import math

def selTournament(population, size, t, W):
    population_new, obj_list = [], []

    for i in range(size):
        random_indices = np.random.choice(len(population), size=t, replace=False)
        group = population[random_indices,]

        obj, winner = math.inf, []
        for ind in group:
            curr_obj = evaluate(ind, W)
            if curr_obj < obj:
                winner = ind
                obj = curr_obj
        population_new.append(winner)
        obj_list.append(obj)

    return np.array(population_new), obj_list

t = 5
pop_new, obj_list = selTournament(pop, POOL_SIZE, t, W)
obj_list

[36779.180787323676,
 35200.67494475327,
 35597.74468348742,
 34905.68950692185,
 35200.67494475327,
 35200.67494475327,
 35597.74468348742,
 34905.68950692185,
 35402.96902532335,
 34909.28657243092,
 35500.743278909365,
 35402.87669927153,
 34610.99167162664,
 35995.7757703406,
 36289.81792569617,
 35798.366467494285,
 35108.2675046556,
 35597.675254702,
 36682.905380415104,
 35895.65096451075,
 35402.87669927153,
 36485.10553573365,
 35103.30196753793,
 35202.22997898533,
 36390.09291030907,
 34416.5048998257,
 35500.56011332015,
 35500.56011332015,
 36388.875196179404,
 35700.13250856528,
 35200.67494475327,
 35202.22997898533,
 35597.74468348742,
 35992.83806742973,
 35302.39301810916,
 35699.21872584647,
 34416.5048998257,
 35307.15350672303,
 35402.87669927153,
 35200.67494475327,
 35404.790538040324,
 35402.96902532335,
 34416.5048998257,
 35700.13250856528,
 35302.39301810916,
 35992.83806742973,
 34909.28657243092,
 35202.22997898533,
 35597.74468348742,
 35402.96902532335,
 35307.15350672303,
 34416.5048998257,
 35997.617988207116,
 34905.68950692185,
 35404.790538040324,
 35597.74468348742,
 36981.944152490716,
 35302.39301810916,
 34416.5048998257,
 35995.7757703406,
 36883.50509316281,
 35404.790538040324,
 35205.54038687517,
 36589.31192789813,
 35202.22997898533,
 35402.87669927153,
 34909.28657243092,
 35200.67494475327,
 36883.08318217867,
 35205.54038687517,
 36981.944152490716,
 34909.28657243092,
 35202.22997898533,
 35500.56011332015,
 35402.96902532335,
 36092.48971370512,
 34610.99167162664,
 35992.83806742973,
 36388.875196179404,
 34909.28657243092,
 35103.30196753793,
 35202.22997898533,
 35404.790538040324,
 34610.99167162664,
 35796.23434956342,
 35402.96902532335,
 34416.5048998257,
 35205.54038687517,
 35597.74468348742,
 35597.74468348742,
 35698.52196170243,
 35103.30196753793,
 36587.58362739483,
 35500.743278909365,
 35103.30196753793,
 36485.95933103498,
 35597.74468348742,
 35500.743278909365,
 36589.31192789813,
 35698.52196170243]

Selection the best t

In [139]:
import math
from collections import defaultdict

def selBest(population, size, t, W):
    population_new_dict = defaultdict(list)

    for idx, val in enumerate(population):
        obj = evaluate(val, W)
        population_new_dict[idx] = obj
    population_sorted = sorted(population_new_dict.items(), key=lambda x: x[1], reverse=False)

    population_new, obj_list = [], []
    for i in range(size):
        idx = population_sorted[i][0]
        population_new.append(population[idx])
        obj_list.append(population_sorted[i][1])

    return np.array(population_new), obj_list

t = 5
pop_new, obj_list = selBest(pop, POOL_SIZE, t, W)
obj_list

[34416.5048998257,
 34610.99167162664,
 34905.68950692185,
 34909.28657243092,
 35103.30196753793,
 35108.2675046556,
 35200.67494475327,
 35202.22997898533,
 35205.54038687517,
 35302.39301810916,
 35307.15350672303,
 35402.87669927153,
 35402.96902532335,
 35404.790538040324,
 35500.56011332015,
 35500.743278909365,
 35506.66767983239,
 35597.675254702,
 35597.74468348742,
 35697.61923752982,
 35698.52196170243,
 35699.21872584647,
 35700.13250856528,
 35796.23434956342,
 35798.366467494285,
 35800.0186706888,
 35895.65096451075,
 35992.83806742973,
 35995.624027248385,
 35995.7757703406,
 35997.617988207116,
 36092.48971370512,
 36289.81792569617,
 36291.42912221091,
 36388.875196179404,
 36389.13645082931,
 36389.70779873929,
 36389.711794087656,
 36390.09291030907,
 36485.10553573365,
 36485.95933103498,
 36489.08778119337,
 36583.33545302972,
 36583.96788563747,
 36584.372548392515,
 36587.58362739483,
 36589.31192789813,
 36682.905380415104,
 36684.07115202726,
 36684.16362438446,
 36779.180787323676,
 36782.414300373,
 36782.45769885419,
 36881.15406872811,
 36883.08318217867,
 36883.50509316281,
 36981.48216117462,
 36981.944152490716,
 36983.12850667155,
 36983.95971907628,
 37076.07270375173,
 37076.46685576885,
 37082.00780070605,
 37082.69318839298,
 37084.921575082124,
 37178.12301374916,
 37178.51421792753,
 37178.922299303566,
 37182.06106801844,
 37277.115912123394,
 37278.5985909956,
 37278.87046479606,
 37279.29329726262,
 37280.00300724068,
 37372.4837337777,
 37373.615925985505,
 37375.825695339496,
 37376.70983447917,
 37378.288277904496,
 37470.11027493751,
 37470.4621323774,
 37473.02769658144,
 37571.49620771859,
 37572.847795332804,
 37668.22379431793,
 37670.06866756354,
 37672.99615260418,
 37768.12639469584,
 37772.71812952863,
 37774.6766906343,
 37867.347888383985,
 37967.343825196236,
 37970.04799625319,
 38066.04846011656,
 38067.77652694893,
 38362.93556194181,
 38459.59155386616,
 38858.15535157133,
 38958.36995218002,
 39347.5356928503]

### **Main algorithm**

In [140]:
def main():
    A = cvgeAll(V, K, N)

    pop = np.array([init(HIGH, V, A) for i in range(POOL_SIZE)])

    for g in range(NGEN):
        for ind1, ind2 in zip(pop[::2], pop[1::2]):
            parent1, parent2 = copy.deepcopy(ind1), copy.deepcopy(ind2)
            child1_new, child2_new = cxUniform(parent1, parent2)
            pop = np.append(pop, child1_new)
            pop = np.append(pop, child2_new)
        
        for ind in pop:
            mutant = copy.deepcopy(ind)
            child_new = mutRandomReset(mutant, MUT_PROB, V, A)
            pop = np.append(pop, child_new)
        
        pop, objs = selBest(pop, POOL_SIZE, TOURN_SIZE, W)
    
        print(max(objs), min(objs), sum(objs)/len(objs))

    return 

pop = main()

35696.122350972626 33233.12207382526 35022.151782452056
34908.87568498774 33230.35927096955 34355.10277224579
34316.4864950062 31557.653067974297 33761.79440913417
33920.032504513576 31454.513907814275 33291.8974737847
33425.424656460404 30370.37903485327 32708.45343799999
32836.61969890036 30370.37903485327 32180.64113108049
32342.56961208759 29680.148907630413 31631.880445693136
31749.55465704367 29283.334879477083 30995.674771913145
31059.06811788591 29184.446130493827 30392.635761862624
30465.013049616413 27703.489006182925 29866.9603847692
29976.859034901252 27701.23216244559 29341.949056282312
29384.764109448166 26721.128955404594 28754.761453124418
28985.100878856472 25829.465052573236 28169.642955765314
28103.379345125755 25733.66058975656 27557.791884061004
27704.75573273957 25733.66058975656 27089.85910093355
27212.05148547121 25042.920230523247 26672.608995372037
26713.529958373452 25038.750794056872 26169.777140550235
26225.85854113046 24249.090658127676 25751.379303163365
25829.465052573236 23754.461038889756 25303.598756636762
25432.753488340888 23459.664903557037 24832.795818507908
24940.587180399 23165.728528400676 24398.189015988522
24450.778439537724 22773.294060800334 23946.82197664627
24048.047884565407 22373.867924929073 23508.451201586173
23654.80735012347 22175.220820354407 23125.454422251216
23165.75058838842 21293.17992749404 22693.14061861899
22767.545657158345 20797.80853600291 22273.598133972264
22281.924962013156 20797.80853600291 21907.90761602198
21979.574972654522 20206.085353995146 21538.77246263279
21584.740358705494 20109.718240786373 21162.307852269427
21287.03493031141 19518.084771308346 20804.584695253157
20891.704694137232 19120.75550012169 20422.689310617287
20496.475781773817 18722.7342660247 20075.368954491954
20108.220498618593 17834.34415772072 19742.82059669966
19809.56213616982 17834.34415772072 19345.01694690586
19415.82214265518 17734.119598093825 18945.326905748156
19021.278532647008 17340.781940840832 18533.82366920392
18626.9670470058 16945.825139811503 18189.160066293065
18234.916916034956 16945.825139811503 17852.4131572983
17933.28354407331 16257.307417054155 17496.8945211426
17542.666080884785 15761.86592831576 17143.16597675142
17146.622353634204 15761.86592831576 16820.470338659867
16945.825139811503 15564.859240019836 16555.096450298723
16554.525967394737 15371.948779097547 16269.86826867425
16354.520754987781 15172.817135066354 15974.970677781877
15961.750958966695 14877.883918667529 15709.716705211553
15761.86592831576 14087.441391072804 15461.351651503208
15564.859240019836 14087.441391072804 15233.644644202566
15272.116193050406 14087.441391072804 15031.171441597711
15074.288618029712 14087.441391072804 14807.292964073511
14875.376785150314 13892.263176075356 14575.499101940226
14580.89215584439 13689.885589094361 14352.611796915695
14383.211496074076 13593.306665437385 14148.714992069441
14185.440801670376 13397.436884563818 13961.419612294552
13992.852011509125 13000.06577182013 13775.072914538772
13792.772692696015 12606.465097038861 13589.166477407107
13595.722205031701 12606.465097038861 13387.670257896809
13398.141068921506 12507.890083136837 13213.881594773538
13201.371098813092 12507.890083136837 13044.890742223313
13098.185863842153 12310.13885859429 12881.406765722519
12902.420991188712 12310.112048555773 12735.391549160446
12800.627149622831 12112.215542095973 12582.708850954592
12605.931277890468 12012.99583524771 12441.51498737617
12506.127975471818 11914.54099286787 12321.908073956141
12311.603170504724 11815.987923714798 12199.493371779072
12211.811782971687 11718.098258183352 12082.876317158874
12111.86495118757 11620.27228594218 11960.177259839167
11917.661945785047 11617.175393642607 11837.959300221377
11817.217223605521 11518.380044540356 11739.143269197457
11719.384520629152 11422.927813062606 11656.358186105184
11621.402261069308 11421.376769641456 11581.200918807217
11617.354062220198 11421.376769641456 11530.440861522256
11519.723700890914 11421.376769641456 11508.155178669042
11518.56636990772 11421.093436308123 11495.976029728401
11517.881059409905 11421.01010297479 11473.62166665234
11516.52252868349 11420.645177048227 11429.681210664967
11422.189804079097 11420.090877943856 11421.554177772032
11421.696229368525 11419.984426687475 11421.145595378419
11421.112968165153 11419.50530102078 11420.748318806032
11420.915968698222 11418.696446656753 11420.43691073789
11420.488318628868 11418.051046223854 11419.988552807738
11420.069132878576 11418.051046223854 11419.57262543109
11419.653608366456 11417.88021289052 11419.149211288373
11419.199567102618 11417.110972694443 11418.674184102372
11418.716847089654 11417.110972694443 11418.279456440001
11418.308523567608 11416.836846534654 11417.867530115034
11417.90283193814 11416.642382950853 11417.53223274628
11417.623561638065 11416.12531945879 11417.244297161742
11417.291418780924 11415.827542236013 11416.933161392333
11416.984379557189 11415.827542236013 11416.653709739921
11416.695954379426 11415.731806027776 11416.355762840709
11416.373268446076 11415.708524856334 11416.13706164381
11416.17178243209 11415.600395771366 11415.982333824795
11416.009486680457 11415.518806241616 11415.836635827303
11415.84013936111 11415.300395771366 11415.698956222532
11415.731806027776 11415.223207396015 11415.592246713335
11415.600395771366 11415.016064538873 11415.480405072265
11415.509379557188 11414.95515767613 11415.365215490741
11415.394910237123 11414.95515767613 11415.25539008596
11415.266604106979 11414.918252914224 11415.15086628133
11415.173207396016 11414.834919580891 11415.065586959809